# -----------------------
# Flutter / Dart
# -----------------------
.buildlog/
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# iOS / macOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Flutter/ephemeral/

# Android
android/.gradle/
android/app/build/

# Web
web/.dart_tool/

# -----------------------
# IDE / Editor
# -----------------------
.vscode/
.idea/
*.iml

# -----------------------
# Node / Next / React vs.
# (Her ihtimale karşı, repo içinde başka web app açarsan da korur)
# -----------------------
node_modules/
**/node_modules/
.next/
dist/
out/

# -----------------------
# Env / Log
# -----------------------
.env
.env.*
*.log
firebase-debug.log

# -----------------------
# System
# -----------------------
.DS_Store
Thumbs.db

lib/analysis_secrets.dart
